<script type='text/javascript'>
	 window.onload = function() {
	  document.getElementById('collection_item_type').focus();
	}
 </script>

<h1>New collection for <%= cookies[:username] %></h1>

<%= render 'form' %>

