<h1>Inventory users</h1>


<div class='user_list'>
<table>
<% @users.each do |user| %>
  
	<% collections = Collection.where(:user_id => "#{user.id}").all %>
	
	
  <tr><th>Name: <td><%= user.firstname + " " + user.lastname %></th></tr>
  <tr><th>Collections:</th>
	<td>
		<% if collections.length > 0 %>
			<% collections.each do |c| %>
				<%= link_to c.item_type, c %><br>
			<% end %>
		<% else %>
			none
		<% end %>
	</td>
   </tr>
<tr><td colspan=2><hr></td> </tr>	


<% end %>
</table>

<br />

</div>
