    <title>Inventory: manage your collections</title>


<div class='welcome_nav'>

<%= link_to 'Sign in', :controller => 'visits', :action => 'sign_in' %>

</div>
<div class='welcome_nav'>

<%= link_to 'Sign up', new_user_path %> 

</div>