    <title>Inventory: manage your collections</title>
   
<center>
	<div class='headline'>Inventory</div>
	
	<div class='subheadline'>manage your collections</div>
</center>

<%= link_to 'New User', :controller => "users", :action => 'new' %>
