/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, select {
	font-family: verdana;
	font-size: 12pt;
}

.welcome_top {
	height: 120px;
	width: 100%;
	background: #0000ff;
	border-bottom: 5px solid black;
}

.welcome_nav {
	font-size: 34px;
	margin: 40px;
}

a {
	text-decoration: none;
}

a:visited {
	color: white;
}

.spacer {
	height: 1px;
}

.headline {
	font-size: 48px;
	color: white;
	margin: 30px;
}

.subheadline {
	font-size:34px;
	color: white;
	font-style: italic;
	margin: 30px;
}

.sign_out {
	font-size: 20px;
	text-align: right;
	margin-top: -42px;
	margin-right: 30px;
}

input[type='submit'] { 
	font-size: 18px;

}

.delete_item {
	background: #fff;
}

.user_data {
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
}

h1, h2 {
	margin-left: 30px;
}

.example {
	display: inline;
	font-style: italic;
}

.topnav {
	font-size: 20px;
	margin: 22px;
	text-align: right;
}

.collections_list {
	font-size: 36px;
	margin-left: 30px;
}

.collections_list li {
	font-size: 26px;
	margin: 16px;
}

.collection_title {
	font-size: 30px;
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 30px;

}

.collection_delete input[type='submit'] {
	display: inline;
	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 10px;
}

#notice {
	margin-left: 40px;
}

.collection_items, .search_box, .search_results {
	margin-left: 30px;
	margin-top: 20px;
}

.collection_items td, th {
	font-size: 16px;
	line-height: 28px;
	min-width: 140px;
	height: 30px;
	text-align: left ;
}

.user_list {
	margin-left: 60px;
}
 
.user_list td, th {
	vertical-align: top;
	line-height: 30px;
	min-width: 150px;
	font-size: 20px;
}

.nav_button {
	background-color:#3858f9;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size: 14pt;
	margin: 30px;
	width: 75px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
}

.nav_button a, .nav_button a:visited {
	color: #ccc;
}

.nav_button a:hover {
	background-color: #3858f9;
}

.clickable {
	cursor: pointer;
}

.item_list tr.even td {
	background: #9eadfa;
}










