/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	font-family: verdana;
}

.welcome_top {
	height: 120px;
	width: 100%;
	background: #0000ff;
	border-bottom: 5px solid black;
}

.welcome_nav {
	font-size: 34px;
	margin: 40px;

}

a {
	text-decoration: none;
}

a:visited {
	color: white;
}

.spacer {
	height: 1px;
}

.headline {
	font-size: 48px;
	color: white;
	margin: 30px;
}

.subheadline {
	font-size:34px;
	color: white;
	font-style: italic;
	margin: 30px;
}

.sign_out {
	font-size: 20px;
	text-align: right;
	margin-top: -42px;
	margin-right: 30px;
}

input[type='submit'] { 
	font-size: 18px;

}

.user_data {
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
}

h1 {
	margin-left: 30px;
}

.example {
	display: inline;
	font-style: italic;
}

.topnav {
	font-size: 20px;
	margin: 22px;
	text-align: right;
}

.collections_list {
	font-size: 36px;
	margin-left: 30px;
}

.collections_list li {
	font-size: 26px;
	margin: 16px;
}













